/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/*---------------code modale----------------*/
#myModal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
	.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 31%;
  	height: 66%;
	justify-content: center;
	position: fixed;
  	left: 629px;
  	top: -99px;
  }
  
  .close{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: fixed;
  	top: 227px;
  	left: 1207px;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }


  .modal-content .titre-h2{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #000000;
  top: 263px;
  position: fixed;
  left: 860px;
}

.work-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 15px;
	margin-left: 64px;
  	margin-right: 23px;
  	margin-top: 135px;
	position: fixed;
 }
 .image-container {
	position: relative;
 }
 
 .icon-container {
	position: absolute;
	top: 7px;
	right: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	background: #141414;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	left: 55px;
  right: 3px;
 }
 
 .icon-container i {
	font-size: 16px;
 }

.ligne {
	width: 420px;
	height: 1px;
	background-color: #B3B3B3;
	border-radius: 10px;
	position: absolute;
	top: 706px;
  	left: 739px;
  	position: fixed;
}
	
/*boutton ajouter*/
#ajouter-photo {
	width: 237px;
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	border: none;
	color: white;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;	
	position: absolute;
	top: 747px;
  	left: 838px;
 	 position: fixed;
}

.work-container img{
	height: 109px;
	flex: 1;
	width: 100%;
}
figcaption{
	display: none;
}
/*modal2----------------*/
.modalAjout{
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 31%;
  	height: 66%;
	display: none;
	justify-content: center;
	position: fixed;
  left: 629px;
  top: -99px;
}
.fa-arrow-left-long {
	font-size: 20px;
	cursor: pointer;
	position: relative;
	top: 0px;
	left: 0%;
	height: 0px;
}
.close-Ajout {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
  	left: 570px;
  }
.ligne2{
	width: 420px;
	height: 1px;
	background-color: #B3B3B3;
	border-radius: 10px;
	position: absolute;
	margin-top: 430px;
	margin-left: -10px;
	}
.modalAjout h4 {
	margin-top: 2px;
}
.modalAjout h3{
	font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin-top: 62px;
  text-align: center;
  position: absolute;
}
.modalAjout form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 37px;
  margin-top:106px;
}

.image-content{
	width: 420px;
	height: 170px;
	background: #E8F1F7;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.fa-image {color: #B9C5CC;}

.photo {
	background: #CBD6DC;
	border-radius: 50px;
	width: 170px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.descr{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
}

.categorie .title h3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 10px;
}

#photo-title{
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: 0;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	width: 420px;
	margin-top: 16px;
	margin-bottom: 20px;
}

#photo-category{
	width: 420px;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: 0;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	width: 420px;
	margin-top: 16px;
	margin-bottom: 12px;
	background-color: white;
}

.modalAjout button{
	width: 237px;
	height: 36px;
	background: #A7A7A7;
	border-radius: 60px;
	border: 0;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #FFFFFF;
	margin-left: -26px;
  margin-top: 35px;
}
/*---------------fin code modale----------------*/

/**********code bouton apres connexion ********************/
.mode-edition{
	height: 60px;
	width: 100vw;
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: white;
	z-index: 1;
}

.mode-edition p {
	font-weight: 400;
	font-size: 16px;
}
/*************fin code boutton apres connexion*************

/***** code Login page ****************************/

.login-formular form {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.login-formular {
	width: 50%;
	margin: auto;
	padding: 140px 170px 330px 170px;
}

.login-formular h2 {
	text-align: center;
}

.label-login-formular {
	padding-bottom: 5px;
	padding-top: 30px;
}

.login-formular input {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login-formular input[type="submit"] {
	margin: 40px auto 30px;
	height: 36px;
	display: block;
	border: none;
	color: #FFFFFF;
    border-radius: 60px;
	font-size: 1em;
	padding: 10px 39px;
	min-width: 180px;
}

.login-formular a {
	margin: auto;
	text-decoration: underline;
}

#error-message{
	color: red;
	text-align: center;
}
/***** fin code Login page ****************************/

/***** code button modified ****************************/
	#button-modifer{
	display: inline-flex; 
	align-items: center;
	justify-content: center;
	gap: 5px;
	cursor: pointer;
	margin: 0 10px;
	padding: 5px 10px;
	}
	#button-modifer{
		color: black;
	}
	
	.text-button-modifer{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	}
/*****fin code button modified  ****************************/

/***** code filtre ****************************/
.filter {
	margin-left: 27%;
	justify-content: center;
	margin-bottom: 4em;
	
}

.filter-boutton {	font-family: 'Syne';
font-style: normal;	
font-weight: 700;	
font-size: 16px;	
line-height: 19px;	
border: 1px solid #1D6154;
border-radius: 60px;	
text-align: center;
padding: 10px;
margin: 0 5px;	
color: #1D6154;	
cursor: default;
}
.filter-boutton:hover {
background: #1D6154;
border: 1px solid #1D6154;
border-radius: 60px;
color: #FFFFFF;
}
/*****fin code filtre****************************/
